<div class="pl-3 pr-3 pb-3">
  @if (books$ | async; as books) {
  <p-table
    [value]="books"
    showGridlines
    [tableStyle]="{ 'min-width': '60rem' }"
    [scrollable]="true"
    scrollHeight="800px"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <span class="text-xl font-bold ml-4"
          >Total Book: {{ books ? books.length : 0 }}</span
        >
        <div class="flex gap-2">
          <p-button size="small" label="Add Book" (onClick)="newBook()" />
          <p-divider layout="vertical" />
          <p-button size="small" label="Edit Book" severity="info" />
          <p-divider layout="vertical" />
          <p-button size="small" label="Remove Book" severity="warn" />
          <p-divider layout="vertical" />
          <div>
            <p-inputgroup>
              <p-inputgroup-addon>
                <p-button icon="pi pi-times" severity="secondary" />
              </p-inputgroup-addon>
              <input pInputText placeholder="Search" pSize="small" />
              <p-inputgroup-addon>
                <p-button icon="pi pi-search" severity="info" />
              </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Cover</th>
        <th>Available Copies</th>
        <th>Total Copies</th>
        <th>Status</th>
        <th style="width: 5rem"></th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-book>
      <tr [pSelectableRow]="book">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.authors.join(", ") }}</td>
        <td>
          <div class="flex items-center gap-2">
            <img
              alt="book cover"
              [src]="book.imageUrl"
              style="
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #ddd;
              "
            />
          </div>
        </td>
        <td>
          {{ book.availableCopies }}
        </td>
        <td>{{ book.totalCopies }}</td>
        <td>
          <p-tag [severity]="setStatus(book).severity">{{
            setStatus(book).text
          }}</p-tag>
        </td>
        <td>
          @if (setStatus(book).text === "Available") {
          <p-button
            icon="pi pi-barcode"
            size="small"
            label="Checkout"
            severity="success"
            variant="outlined"
          />
          } @else {
          <p-button
            icon="pi pi-barcode"
            size="small"
            label="Checkout"
            severity="secondary"
            text="true"
            disabled="true"
          />
          }
        </td>
        <td>
          <p-button
            icon="pi pi-eye"
            size="small"
            label="View"
            (onClick)="viewBook(book.id)"
            severity="help"
            variant="outlined"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  } @else {
  <p-table [value]="skeltonArray" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <span class="text-xl font-bold ml-4">Books Inventory: </span>
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            pSize="small"
            type="text"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Cover</th>
        <th>Available Copies</th>
        <th>Total Copies</th>
        <th>Status</th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-book>
      <tr [pSelectableRow]="book">
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td>
          <p-skeleton />
        </td>
        <td>
          <p-skeleton />
        </td>
        <td><p-skeleton /></td>
        <td>
          <p-skeleton />
        </td>
        <td>
          <p-skeleton />
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
</div>
