@if (book$ | async; as book) {
<p-dialog
  [modal]="true"
  [(visible)]="viewBookVisibility"
  [style]="{ width: '40rem' }"
  header="Details"
>
  <!-- <ng-template #header>
    <div>
      <h1 class="text-2xl font-bold">Details</h1>
    </div>
  </ng-template> -->
  <div class="p-4">
    <div class="flex justify-center mb-2">
      <img alt="Card" src="{{ book.imageUrl }}" />
    </div>
    <div class="flex flex-col justify-center items-center w-full">
      <h1 class="text-2xl font-bold mb-2">{{ book.title }}</h1>
      <div class="mb-2 text-center">
        <p-tag [severity]="setStatus(book).severity">{{
          setStatus(book).text
        }}</p-tag>
      </div>
    </div>
    <p class="mb-2">
      <span class="font-bold">Description: </span>{{ book.description }}
    </p>
    <p class="mb-2">
      <!-- <span class="font-bold">Author(s): </span>{{ book.authors.join(", ") }} -->
    </p>
    <p class="mb-2">
      <span class="font-bold">Genre(s): </span>
      <!-- {{ generateGenres(book.genreIds) }} -->
    </p>
    <p class="mb-2"><span class="font-bold">Isbn: </span>{{ book.isbn }}</p>
    <p class="mb-2">
      <span class="font-bold">Publication Year: </span
      >{{ book.publicationYear }}
    </p>
    <p class="mb-2">
      <span class="font-bold">Publisher: </span>{{ book.publisher }}
    </p>
    <p class="mb-2">
      <span class="font-bold">Total Copies: </span>{{ book.totalCopies }}
    </p>
    <p>
      <span class="font-bold">Available Copies: </span
      >{{ book.availableCopies }}
    </p>
  </div>
</p-dialog>
}
