<div class="p-2">
  <p-menubar [model]="items">
    <ng-template #item let-item>
      <ng-container>
        <a [routerLink]="item.route" size="small" class="p-menubar-item-link">
          <span [class]="item.icon"></span>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>
    </ng-template>
    <ng-template #end>
      <p-button
        outlined="true"
        [icon]="displayIcon()"
        (click)="toggleDisplayMode()"
        [style]="{ color: 'var(--p-primary-color-text)' }"
      />
    </ng-template>
  </p-menubar>
</div>
