<nav>
  <ul>
    <li>
      <a
        routerLink="/books"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Books</a
      >
    </li>
    <li>
      <a
        routerLink="/patrons"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Patrons</a
      >
    </li>
    <li>
      <a
        routerLink="/loans"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Loans</a
      >
    </li>
    <li>
      <a
        routerLink="/books/search"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Search-Books</a
      >
    </li>
    <li>
      <a
        routerLink="/patrons/search"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Search-Patrons</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet />
